@charset "utf-8";
*{
	font-family:"Times New Roman","標楷體";	
}
body #title {
	background-color: transparent;
	color: black;
	position: absolute;
	left:  600px;
	top:   60px;
	font-size:3.5em;/*56px*/
}
body #square{
	/*width:1536px, height: 760px*/
	background-color: black;
	position: absolute;
	left:  368px;
	top:   120px;
	width: 800px;
	height:600px;
}
body #picture{
	position: absolute;
	left:  443px;
	top:   160px;
	width: 650px;
}
body #mouse{
	color: black;
	position: absolute;
	left:  630px;
	top:   560px;
	font-size:2.5em;/*56px*/
}
body #keyboard{
	color: black;
	position: absolute;
	left:  610px;
	top:   630px;
	font-size:2.5em;/*56px*/
}
footer #id1 {
	position:absolute;
	bottom:0em;
	left:0em;
	font-weight:bold;
	font-size:1.5em;
	color:black;
	background-color:transparent;
	border-color:transparent;
}
