@charset "utf-8";
*{
	font-family:"Times New Roman","標楷體";
}
footer #id1 {
	position:absolute;
	bottom:0em;
	left:0em;
	font-weight:bold;
	font-size:1.5em;
	color:black;
	background-color:transparent;
	border-color:transparent;
}
footer #id2 {
	position:absolute;
	bottom:0em;
	left:10em;
	font-weight:bold;
	font-size:1.5em;
	color:black;
	background-color:transparent;
	border-color:transparent;
}